@use "../helpers" as *;

.about {
  padding-top: rem(48);
  padding-bottom: rem(48);
  background-color: var(--color-blue);
  overflow: hidden;
}

.about__container {
  display: flex;
  justify-content: center;
  position: relative;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  &--visible {
    .about__title {
      animation: contentBlur 2.5s ease-in-out;
    }
    .about__image {
      &::before {
        animation: focusAnimation 3s ease-in-out forwards;
      }
      .about__image-picture {
        animation: contentBlur 3s ease-in-out forwards;
      }
      .about__image-border {
        animation: scale 2s ease-in-out forwards;
      }
    }
    .about-item {
      animation: scale 2s ease-in-out forwards;
    }

    @include mobile {
      .about-item {
        &:not(:last-of-type) {
          .about-item__img {
            &::after {
              animation: opct 2s ease forwards;
            }
          }
        }
      }

      @include mobile-s {
        .about__inner {
          &::before {
            animation: opct 2s ease forwards 3s;
          }
          &::after {
            animation: opct 2s ease forwards 3.25s;
          }
        }
      }
    }
  }
}

.about__inner {
  position: relative;

  @include mobile-s {
    translate: -12% 0;

    &::before {
      content: "";
      width: 2px;
      height: 50px;
      background-color: var(--color-white);
      position: absolute;
      bottom: 0;
      left: 38.8%;
      translate: 0 90%;
      opacity: 0;
    }

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background-color: var(--color-white);
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      left: 38.8%;
      translate: -45% 0;
      opacity: 0;
    }
  }
}

.about__title {
  max-width: rem(258);
  font-weight: 700;
  font-size: rem(22);
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 50%;
  bottom: rem(58);
  translate: -50% 0;
  z-index: 2;
  opacity: 1;

  @include mobile-s {
    text-align: left;
    translate: -34% 0;
  }
}

.about__image {
  position: relative;
  display: flex;
  border-radius: 50%;
  box-shadow: 5px 5px 22px 2px rgba(0, 0, 0, 0.4);

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    z-index: 10;
  }
}

@keyframes focusAnimation {
  0% {
    box-shadow: 0 0 0 2px rgba(65, 64, 64, 0.3) inset 0 0 0 1px
      rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    box-shadow: 0 0 0 4px rgba(200, 200, 200, 0.6),
      inset 0 0 0 3px rgba(180, 180, 180, 0.4);
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    box-shadow: 0 0 0 6px rgba(150, 150, 150, 0.8),
      inset 0 0 0 5px rgba(120, 120, 120, 0.6);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    box-shadow: 0 0 0 4px rgba(200, 200, 200, 0.4),
      inset 0 0 0 3px rgba(180, 180, 180, 0.3);
    transform: translate(-50%, -50%) rotate(270deg);
    border: none;
  }
  100% {
    box-shadow: 0 0 0 0px rgba(65, 64, 64, 0.3),
      inset 0 0 0 0px rgba(255, 255, 255, 0);
    transform: translate(-50%, -50%) rotate(360deg);
    border: 2px solid var(--color-white);
  }
}

.about__image-picture {
  opacity: 0.55;

  @include mobile-s {
    min-width: rem(412);
  }
}

@keyframes contentBlur {
  0% {
    filter: blur(0px);
    opacity: 1;
  }
  25% {
    filter: blur(2px);
    opacity: 1;
  }
  50% {
    filter: blur(4px);
    opacity: 1;
  }
  75% {
    filter: blur(2px);
    opacity: 1;
  }
  100% {
    filter: blur(0px);
    opacity: 0.55;
  }
}

.about__image-border {
  @include abs-center;
  min-width: rem(716);
  min-height: rem(356);

  scale: 0 1;
  transform-origin: bottom;

  @include tablet {
    animation: none;
    display: none;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }
  100% {
    scale: 1 1;
    opacity: 1;
  }
}

.about__outer {
  @include abs-center;
  position: absolute;
  max-width: rem(1200);
  width: 100%;
  height: rem(428);
  display: grid;
  grid-template-columns: 1fr 550px 1fr;

  @include laptop {
    grid-template-columns: 1fr 450px 1fr;
  }
  @include tablet {
    max-width: 100%;
    height: auto;
    margin-top: rem(32);
    position: static;
    grid-template-columns: 1fr 1fr;
    translate: 0 0;
    column-gap: rem(80);
    row-gap: rem(40);
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    gap: rem(28);
  }
}

.about-item {
  display: flex;
  align-items: center;
  gap: rem(26);
  position: relative;
  scale: 1 0;

  @include tablet {
    translate: 0 0 !important;
    align-self: center !important;
  }

  @include mobile {
    &:not(:last-of-type) {
      .about-item__img {
        &::after {
          content: "";
          width: 2px;
          height: 50%;
          background-color: var(--color-white);
          position: absolute;
          bottom: 0;
          left: 50%;
          translate: -50% 100%;
          opacity: 0;
        }
      }
    }
  }

  &:nth-of-type(1) {
    grid-row: 1 / 2;
    align-self: flex-start;
    justify-self: center;
    translate: 0 78%;
    animation-delay: 0.5s;

    @include mobile {
      animation-delay: 0s;

      .about-item__img {
        &::after {
          animation-delay: 1.5s;
        }
      }
    }
  }
  &:nth-of-type(2) {
    translate: -3% 0%;
    grid-row: 2 / 3;
    justify-self: start;
    animation-delay: 0.25s;

    @include mobile {
      .about-item__img {
        &::after {
          animation-delay: 1.75s;
        }
      }
    }
  }
  &:nth-of-type(3) {
    grid-row: 3 / 4;
    align-self: flex-start;
    justify-self: center;
    translate: 0 10%;
    @include mobile {
      animation-delay: 0.5s;

      .about-item__img {
        &::after {
          animation-delay: 2s;
        }
      }
    }
  }
  &:nth-of-type(4) {
    grid-row: 1 / 2;
    justify-self: center;
    align-self: flex-start;
    translate: 0 78%;
    animation-delay: 0.5s;

    @include mobile {
      animation-delay: 0.75s;

      .about-item__img {
        &::after {
          animation-delay: 2.25s;
        }
      }
    }
  }
  &:nth-of-type(5) {
    grid-row: 2 / 3;
    justify-self: end;
    translate: 3% 0%;
    animation-delay: 0.25s;
    @include mobile {
      animation-delay: 1s;

      .about-item__img {
        &::after {
          animation-delay: 2.5s;
        }
      }
    }
  }
  &:nth-of-type(6) {
    grid-row: 3 / 4;
    align-self: flex-start;
    justify-self: center;
    translate: 0 10%;
    @include mobile {
      animation-delay: 1.25s;

      .about-item__img {
        &::after {
          animation-delay: 2.75s;
        }
      }
    }
  }

  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3) {
    grid-column: 1 / 2;
    text-align: right;

    @include tablet {
      justify-self: flex-end;
    }
    @include mobile {
      flex-direction: row-reverse;
      text-align: left;
    }
  }

  &:nth-of-type(4),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    grid-column: 3 / 4;
    flex-direction: row-reverse;

    @include tablet {
      grid-column: 2 / 3;
      justify-self: flex-start;
    }

    .about-item__img {
      &:before {
        rotate: -165deg;
      }
    }
  }
}

.about-item__description {
  width: rem(164);
  font-weight: 700;
  font-size: rem(15);
  line-height: 160%;
  text-transform: uppercase;
  color: var(--color-white);
}

.about-item__img {
  @include flex-center;
  min-width: rem(76);
  aspect-ratio: 1 / 1;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  position: relative;
  background-color: var(--color-blue);

  &:before {
    @include abs-center;
    content: "";
    width: 130%;
    aspect-ratio: 1 / 1;
    border-top: 1px solid transparent;
    border-left: 1px solid var(--color-white);
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 50%;
    rotate: -15deg;

    @include mobile {
      rotate: -165deg;
    }
  }
}

@keyframes opct {
  to {
    opacity: 1;
  }
}
