@use "../helpers" as *;

.partners {
  padding-top: rem(56);
  padding-bottom: rem(82);
  background-color: var(--color-white);
}

.partners__title {
  margin-bottom: rem(35);
  font-weight: 700;
  font-size: rem(22);
  text-transform: uppercase;
  text-align: center;
  color: var(--color-blue);

  @include mobile {
    margin-bottom: rem(28);
  }
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: rem(40);

  @include tablet {
    justify-content: center;
    column-gap: rem(40);
  }
}
