@use "../helpers/" as *;

.slider-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(45);

  @include mobile-s {
    gap: rem(10);
  }
}

.slider-btn {
  @include flex-center;
  width: rem(40);
  height: rem(40);
  border-radius: 50%;
  background-color: var(--color-blue);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);

  @include hover {
    background-color: var(--color-blue--dark);
  }
  @include active {
    background-color: var(--color-blue--light);
  }

  &:disabled {
    background-color: #efefef;
    opacity: 1;
    cursor: auto;

    svg {
      fill: #bebfbf;
    }
  }
}

.slider-list {
  transition: translate 0.4s ease-out;
}

.slider-item {
  @include mobile {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
  }
}

.slider-pagination {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 900%;
}

.slider-bullet {
  width: 30px;
  height: 5px;
  border-radius: 8px;
  background-color: #dadada;

  &--active {
    background-color: var(--color-red);
  }
}
